-- Tabelle für Einladungen
CREATE TABLE IF NOT EXISTS public.invitations (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    email TEXT NOT NULL,
    clinic_id UUID REFERENCES clinics(id) ON DELETE CASCADE,
    role user_role NOT NULL DEFAULT 'therapist',
    invited_by UUID REFERENCES profiles(id),
    created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
    is_consumed BOOLEAN NOT NULL DEFAULT false,
    UNIQUE(email, clinic_id, role)
);

-- Den Trigger erweitern, um Einladungen zu prüfen
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS \$\$
DECLARE
    target_clinic_id UUID;
    target_role user_role;
BEGIN
    -- 1. Profil erstellen
    INSERT INTO public.profiles (id, email, full_name)
    VALUES (new.id, new.email, new.raw_user_meta_data->>'full_name');

    -- 2. Prüfen, ob eine Einladung vorliegt
    SELECT clinic_id, role INTO target_clinic_id, target_role
    FROM public.invitations
    WHERE email = new.email AND is_consumed = false
    LIMIT 1;

    -- 3. Wenn Einladung gefunden, zuweisen
    IF target_clinic_id IS NOT NULL THEN
        -- Klinik im Profil setzen
        UPDATE public.profiles SET clinic_id = target_clinic_id WHERE id = new.id;
        
        -- Rolle vergeben
        INSERT INTO public.user_roles (user_id, role) VALUES (new.id, target_role);
        
        -- Einladung als verbraucht markieren
        UPDATE public.invitations SET is_consumed = true WHERE email = new.email;
    END IF;

    RETURN new;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Berechtigungen
GRANT ALL ON public.invitations TO postgres, anon, authenticated, service_role;
