DROP POLICY IF EXISTS \
System
admins
can
manage
invitations\ ON public.invitations;

CREATE POLICY \System
admins
and
Clinic
admins
can
manage
invitations\
    ON public.invitations
    FOR ALL
    TO authenticated
    USING (
        -- System Admin darf alles
        EXISTS (
            SELECT 1 FROM public.user_roles
            WHERE user_id = auth.uid() AND role = 'system_admin'
        )
        OR 
        -- Clinic Admin darf nur für seine eigene Klinik
        (
            EXISTS (
                SELECT 1 FROM public.user_roles
                WHERE user_id = auth.uid() AND role = 'clinic_admin'
            )
            AND clinic_id IN (
                SELECT clinic_id FROM public.profiles WHERE id = auth.uid()
            )
        )
    )
    WITH CHECK (
        -- Beim Einfügen muss die clinic_id zur eigenen Klinik gehören
        EXISTS (
            SELECT 1 FROM public.user_roles
            WHERE user_id = auth.uid() AND role = 'system_admin'
        )
        OR 
        (
            EXISTS (
                SELECT 1 FROM public.user_roles
                WHERE user_id = auth.uid() AND role = 'clinic_admin'
            )
            AND clinic_id IN (
                SELECT clinic_id FROM public.profiles WHERE id = auth.uid()
            )
        )
    );
