CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS \$\$
DECLARE
    target_clinic_id UUID;
    target_role public.user_role;
BEGIN
    -- 1. Profil erstellen
    INSERT INTO public.profiles (id, email, full_name)
    VALUES (new.id, new.email, new.raw_user_meta_data->>'full_name');

    -- 2. Prüfen, ob eine Einladung vorliegt
    SELECT clinic_id, role INTO target_clinic_id, target_role
    FROM public.invitations
    WHERE email = new.email AND is_consumed = false
    LIMIT 1;

    -- 3. Wenn Einladung gefunden, zuweisen
    IF target_clinic_id IS NOT NULL THEN
        -- Klinik im Profil setzen
        UPDATE public.profiles SET clinic_id = target_clinic_id WHERE id = new.id;
        
        -- Rolle vergeben
        INSERT INTO public.user_roles (user_id, role) VALUES (new.id, target_role);
        
        -- Speziell für Therapeuten: Eintrag in der therapists Tabelle anlegen
        IF target_role = 'therapist' THEN
            INSERT INTO public.therapists (user_id, clinic_id, specialization)
            VALUES (new.id, target_clinic_id, 'Neu registrierter Therapeut');
        END IF;
        
        -- Einladung als verbraucht markieren
        UPDATE public.invitations SET is_consumed = true WHERE email = new.email;
    END IF;

    RETURN new;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
